body {
    height: 100%;
    width: 100%;
    padding: 1em;
}

#planner h1 {
    margin-top: 0.7em;
}

#encountersAccordion {
    margin: 2em 0;
}

.accordion-card-header {
    display: flex;
    flex-direction: row;
    width: available;
}

.largest-button {
    flex-grow: 1;
}

.btn-pad {
    margin: 0 1em;
}