html, body {
    height: 100vh;
    padding: 0;
    margin:0
}

.content {
    height: 100vh;
    padding: 1em;
}

#mainContent {
    flex-wrap: nowrap;
}

#planner h1 {
    margin-top: 0.7em;
}

#encountersAccordion {
    margin: 2em 0;
}

.accordion-card-header {
    display: flex !important;
    flex-direction: row;
    width: available;
}

.largest-button {
    flex-grow: 1;
}

.btn-pad {
    margin: 0 1em;
}

.btn-top-margin {
    margin-top: 1em;
}

#elementTabContent {
    padding: 1em 0;
}

#fightRatingSelector {
    pointer-events: none;
}

.fight-rating-label {
    margin-right: 1em;
}

#settings h2 {
    margin: 0.8em 0;
}

#history {
    height: 100%;
}

#timeline-placeholder {
    color: #777;
    text-align: center;
    border: #777 0.1em dashed;
    border-radius: 1em;
}

#timeline-delete-zone-background {
    color: #ff5555;
    border: #ff5555 0.1em dashed;
    border-radius: 1em;
    text-align: center;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: -100;
    display: flex;
}

.background h2 {
    margin: auto;
}

#history-control {
    max-height: 10em;
    padding-top: 0.5em;
}

#playersStatus .list-group-item a {
    margin-right: 0.5em;
}

#playersStatus .list-group-item .progress {
    width: 10em;
}

.bottom-padding {
    padding-bottom: 1em !important;
}

#tabTop {
    padding: 0.5em 1.5em;
}